.list-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--clr-secondary);
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.clients-list {
    list-style: none;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    margin: 0.75rem 0;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.list-item:last-of-type {
    border-bottom: none;
}

.item-actions {
    display: inline-flex;
    gap: 1rem;
}

@media screen and (max-width: 375px) {
    .list-item {
        font-size: 0.8rem;
    }
}