:root {
  --clr-primary: #37414a;
  --clr-secondary: #4a5863;
  --clr-neutral: #f8fcfd;
  --clr-accent: #6ad2df;
  --clr-white: #ffffff;
  --clr-green: #bcf580;
  --clr-red: #f6cace;


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: var(--clr-neutral);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}

button {
  outline: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  cursor: pointer;
  transition: all 0.4s;
}

button:hover {
  transform: scale(0.97);
}

button:active {
  transform: scale(0.98);
}

button:focus,
button:focus-visible {
  outline: 0.5px auto var(--clr-secondary);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
